body {
  --chula-pink: #de5c8e;
  --chula-pink-dark: #c5527e;

  min-height: 100vh;
  font-family: "Prompt", sans-serif;

  background: url("../img/bg-mobile.svg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
}

.topbar {
  display: flex;
  height: 80px;
  padding-left: 28px;
  align-items: center;
  color: var(--chula-pink);
  font-size: 24px;
}

.logo {
  width: 28px;
  margin-right: 30px;
}

.register-card {
  /* USER CODE Begin: Style the card */
  flex: 1;
  margin: 30px 0 88px 0px;
  padding: 36px 45px 69px 45px;
  max-width: 280px;
  background-color: white;
  border-radius: 10px;
  box-shadow: -1px 1px 5px 0.5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;

  /* USER CODE End: Style the card */
}

.title {
  margin: 0;
  font-size: 3em;
  line-height: 1.5em;
}

.subtitle {
  margin: 0;
  font-size: 0.875em;
}

#register-form {
  margin-top: 28px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  /* USER CODE Begin: Style the input field */
  border: none;
  border-bottom: solid 1px gray;
  margin-bottom: 30px;
  line-height: 2;
  width: 100%;
  /* USER CODE END: Style the input field */
}

input:hover {
  border-color: #acacac;
}

input:focus {
  outline: none;
  border-color: #888888;
}

button {
  /* USER CODE Begin: Style the button */
  border: none;
  border-radius: 5px;
  width: 100%;
  background-color: var(--chula-pink-dark);
  color: white;
  line-height: 2;
  transition: all 0.5s;
  /* USER CODE END: Style the button */
}

button:hover {
  background: #e66c9b;
}

.kite,
.cloud,
.footer {
  /* USER CODE Begin: Hide it */
  display: none;
  /* USER CODE END: Hide it  */
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* USER CODE Begin: Manage screen width */
@media screen and (min-width: 1300px) {
  /* USER CODE END: Manage screen width */
  body {
    background: url("../img/bg-desktop.svg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
  }

  .topbar {
    background: #ffffff;
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08);
    padding-left: 160px;
    font-size: 24px;
  }

  .register-card {
    flex: 1;
    margin: 86px 0 88px 0px;
    padding: 36px 58px 69px 59px;
    max-width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: -1px 1px 5px 0.5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
  }

  .kite {
    /* USER CODE Begin: Control kite */
    display: block;
    height: 450px;
    width: 450px;
    position: relative;
    z-index: 1;
    top: 150px;
    left: 200px;
    /* USER CODE END: Control kite */
  }

  .cloud {
    /* USER CODE Begin: Style cloud */
    display: block;
    height: 150px;
    width: 350px;
    position: absolute;
    /* USER CODE END: Style kite */
  }

  .cloud.cloud1 {
    /* USER CODE Begin: Control cloud1 */
    position: absolute;
    top: 150px;
    left: 50px;

    /* USER CODE END: Control cloud1 */
  }

  .cloud.cloud2 {
    /* USER CODE Begin: Control cloud2 */
    top: 400px;
    left: 400px;
    /* USER CODE END: Control cloud2 */
  }

  .cloud.cloud3 {
    /* USER CODE Begin: Control cloud3*/
    top: 600px;
    left: 50px;
    /* USER CODE END: Control cloud3 */
  }

  input {
    /* USER CODE Begin: Style the input field */
    border: none;
    border-bottom: solid 1px gray;
    margin-bottom: 30px;
    width: 100%;
    /* USER CODE END: Style the input field */
  }

  #register-form {
    margin-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
    margin: 0 122px 72px 0;
  }

  .contact-logo {
    margin-left: 36px;
  }

  .content {
    justify-content: space-between;
    margin-right: 122px;
  }
}
